# Node.js modules
node_modules/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directories
jspm_packages/

# Production
build/
dist/

# IDEs and editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
